@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Quicksand;
}

ol, ul, dl {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

ul{
  margin-bottom: 0;
}

.main-section {
  height: 1019px;
  background-image: url("~@/assets/img/background.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .header {
    height: 100px;
    padding: 0 126px 0 130px;
    display: flex;
    flex-wrap: wrap;

    .logo {
      text-align: center;
      background: #0F7BFF;
      border-radius: 0px 0px 21.5px 21.5px;
      width: 179px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &:hover {
        background: white;
        transition: 0.2s;

        a {
          transition: 0.2s;
          color: #0F7BFF;
        }
      }

      a {
        color: white;
        font-size: 36px;
        font-weight: 700;
        font-style: normal;
        line-height: 45px;
      }
    }

    .main-menu {
      align-self: center;
      font-size: 16px;
    }
  }
}

.section__three-cards {
  text-align: center;
  background: #F5FCFD;
  padding: 40px 0;
  height: auto;
  display: flex;
  align-items: center;

  .three-cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    &__card {
      background: #FFFFFF;
      box-shadow: 0 4px 16px rgba(0, 66, 148, 0.08);
      border-radius: 5px;
      width: 362px;
      height: 290px;
      margin: 10px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }

      &-description {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }

      &.mrg-top {
        margin-top: 50px;

        @media (max-width: 1400px) {
          margin-top: auto;
        }
      }
    }
  }
}

.section-two-cards {
  padding: 60px 0;
  .advantages {
    z-index: 1;

    .advantage {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &.reverse {
        flex-direction: row-reverse;
      }

      &__image {
        position: relative;

        &::before {
          content: '';
          width: 390px;
          height: 483px;
          position: absolute;
          background: #0F7BFF;
          border-radius: 40px;
          z-index: -1;
          transform: translate(0px, -40px) rotate(145deg);

          @media (max-width: 992px) {
            display: none;
          }
        }
      }
    }
  }
}

.section-news {
  .news {
    display: flex;
    flex-wrap: wrap;

    .news-item {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .item {
        display: flex;

        &__image{
          margin-right: 10px;
        }
      }
    }
  }
}
.selected-news__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  color: #0063DD;
}
.item__image img {
  box-shadow: 0px 4px 20px rgb(0 70 156 / 8%);
  border-radius: 5px;
}
.sign{
  background: #0063DD;
  border-radius: 25px;
  width: 165px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border: none;
    box-sizing: border-box;
    border-radius: 25px;
    background: none;

    a {
      color: white;
    }
  }

  a {
    color: white !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.news-info {
  display: flex;
  flex-direction: column;
  text-align: center;

}
.news-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.news-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  max-width: 722px;
  margin: auto;
  margin-top: 20px;
}
.section-slider {
  background: #F5FCFD;

  &__content {
    display: flex;
    align-items: center;
  }

  &__image {
    margin-right: 100px;
  }
}

.logo_text {
  text-align: center;
  max-width: 640px;
  margin-top: 65px;
}
.batton_use {
  display: flex;
  justify-content: space-evenly;
}
p.title_text {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
}
p.description_text {
  color: #929292;
  font-size: 16px;
  line-height: 27px;
}
a.batton_dowload {
  background: #0F7BFF;
  border-radius: 25px;
  width: 166px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
a.batton_dowload:hover {
  background: none;
  border: 2px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 25px;
  color: #0F7BFF;

}
a.batton_trial {
  border: 2px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 25px;
  width: 166px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
a.batton_trial:hover {
  background: #0F7BFF;
  border-radius: 25px;
  color: white;
}
.devices{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.devices_block{
  overflow: hidden;
  height: 524px;
}
#outer-circle {
  background: rgba(0, 99, 221, 0.23);
  border-radius: 50%;
  height: 114px;
  width: 114px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-57px, 67px);
}
#inner-circle {
  position: absolute;
  background: #0063DD;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  top: 50%;
  left: 50%;
  margin: -35px 0px 0px -35px;
}

.most-upstairs {
  height: 68px;
  margin: 9св px 0;
}
.storona-uveka {
  width: 0;
  height: 40px;
  border: 1px solid white;
  position: relative;
  animation: scroll 1.7s infinite;
  margin: auto;
}
.storona-uveka::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: -5px;
  width: 1px;
  height: 10px;
  border-top: 10px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
@keyframes scroll {
  0% {
    height: 40px;
  }
  30% {
    height: 70px;
  }
  60% {
    height: 40px;
  }
}
div#outer-circle {
  margin: -52px auto 5px;
}
li.nav-item {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  a{
    color: grey;
  }
}
.does-works-block {
  text-align: center;
}
.section__does-works {
  background: #F5FCFD;

}
.does-works-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.does-works {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 635px;
  text-align: center;
}
.icon-item-text-description {
  width: 333px;
  margin-top: 20px;
}

.carousel-multi-item .carousel-indicators li {
  width: 1.25rem;
  max-width: 1.25rem;
  height: 1.25rem;
  margin-bottom: -3.75rem;
  background-color: #4285f4;
}

.carousel-multi-item .carousel-indicators .active {
  width: 1.56rem;
  max-width: 1.56rem;
  height: 1.56rem;
  background-color: #4285f4;
  border-radius: 50%;
}
.section-get-started {
  height: 335px;
  background: #F5FCFD;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.get-started-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.get-started-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}
.get-started-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.get-started-button {
  width: 264px;
  height: 50px;
  background: #0F7BFF;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  a{
    color: white;
  }
}
.section-subscribe {
  height: 485px;
  background: #0F7BFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.subscribe-block {
  margin: auto;

}
input.form-control {
  border-radius: 25px 0px 0px 25px;
  background: #0063DD;
  border: none;
  height: 50px;
  width: 558px;
}

input.form-control::placeholder {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 0px 28px;
}
button#button-addon2 {
  border-radius: 0px 25px 25px 0px;
  background: white;
  color: #0063DD;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  border-color: snow;
  height: 50px;
  max-width: 166px;
}
.section-footer {
  height: 125px;
  background: #0063DD;
}
.footer-info-blocks{
  justify-content: space-around;
}
.footer-links {
  padding: 0 !important;
}
.section-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-social {
display: flex;
justify-content: space-evenly;
align-items: center;
}
.footer-text-copyright a {
  color: white !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-transform: none;
}
.footer-links a {
  color: white !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-transform: none;
}
.subscribe-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: white;
}
.advantage__message-title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}
.advantage__message--text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  margin-top: 20px;
}
.advantage__message--link {
  display: flex;
  flex-wrap: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0063DD;
  margin-top: 20px;
}
.news-arrow {
  margin-left: 20px;
}



.section-pricing-plan{
  height: 836px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .pricing-plan-info{
    align-items: center;
  }
}
.pricing-plan-packet {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgb(0 36 80 / 8%);
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.button-try-now{
  display: flex;
  justify-content: center;
}
.pricing-plan-title{
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.pricing-plan-text{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  max-width: 332px;
}
.pricing-plan-buttons{
  display: flex;
  justify-content: center;
  width: 335px;
  align-items: center;
}
.pricing-plan-button1 {
  background: #0F7BFF;
  border-radius: 25px 0px 0px 25px;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 169px;
}
.pricing-plan-button2 {
  border: 3px solid #0F7BFF;
  border-radius: 0px 25px 25px 0px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 169px;
}
.pricing-plan-price{
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #0F7BFF;
}
.pricing-plan-list{
  font-weight: 300;
  font-size: 16px;
  line-height: 184%;
  border-top: 2px solid #E9F3F8;
}
.pricing-plan-list-title{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.section-news {
  height: 965px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.selected-news__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #0063DD;
}
.selected-news__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  max-width: 543px;
}

.item__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.item__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 155%;
  width: 331px;
}
.icon-item-text-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
}

@media screen and (max-width: 1168px) {
  .wrapper{
    max-width: 764px !important;
  }
  .carousel {
    margin: auto;
  }
  .section-slider__image {
    display: none;
  }
}
@media screen and (max-width: 774px) {
  .wrapper{
    max-width: 373px !important;
  }
  .get-started-button{
    margin-top: 2rem !important;
  }
}
@media screen and (max-width: 767px) {
  .section-pricing-plan {
    height: 1400px;
  }
  .section-news{
    height: 1200px;
  }
  .does-works {
    height: 787px;
  }
}

@media screen and (max-width: 990px) {
  .pricing-plan-info{
    text-align: center;
  }
  .pricing-plan-text{
    margin: auto;
  }
  .pricing-plan-buttons{
    margin: auto;
  }
  .pricing-plan-packet {
    margin-top: 2rem !important;
  }
}
